.center-flex {
    justify-content: center;
    display: flex;
}

.desc-page {
    text-align: center;
    margin: 2rem;
}

.btn {
    margin: 0 1rem;
    width: 6rem;
    border-radius: 2rem;
}

.form-control {
    font-size: 13px;
    border-radius: 2rem;
    padding: 0.5rem 1.2rem;
}